@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

h3  {
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 1.55em;
}

button {
    border-radius: 8px !important;
    margin: 20px 0 40px 0;
    transition: all .2s ease-in-out;
}

.row {
    margin: 0;
}

.container {
    padding: 0 30px;
}

.divider {
    margin: 25px 0 35px 0;
}

.line {
    height: 4px;
    width: 100%;
    max-width: 110px;
    background-color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    display: inline-block;
}

i.fa-star {
    font-size: 2.7em;
    padding: 0 15px;
    vertical-align: middle;
}

.btn-xl {
    padding: 15px 30px;
}

.circle {
    position: relative;
    font-size: 1.5em;
    height: 47px;
    width: 47px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 10px 0 25px 10px;
    transition: all .2s ease-in-out;
    display: inline-block;
    cursor: pointer;
}

.circle:first-of-type {
    margin-left: 0;
}

.circle > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.m-t3 {
    margin-top: 30px;
}

.p-lr-2 {
    padding: 0 20px;
}

/* header */

/* nav */

.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar > .container {
    padding: 8px 0;
}

.container > .navbar-header > a, .navbar-default .navbar-nav > li > a {
    font-size: 1.7em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
    font-size: 1em;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #1abc9c;
}

.navbar-header {
    margin-right: 0!important;
    margin-left: 0!important;
}

a.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 5px;
}

a.navbar-brand:hover {
    color: #fff !important;
}

/* menu button */

.navbar-default .navbar-toggle {
    color: #fff;
    background: #1ABC9C;
    border: none;
    border-radius: 8px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #148f77 !important;
}

.navbar-default .navbar-toggle > span {
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
}

span.glyphicon-menu-hamburger {
    font-size: .85em;
}

.navbar-default .menu-icon {
    color: #fff;
    display: inline-block;
}

.menu-icon > .icon-bar {
    background-color: #fff!important;
}

/* jumbotron */

.jumbotron {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 96px;
    margin-bottom: 0;
}

.jumbotron > .container {
    max-width: 720px;
    padding: 80px 37px 0 37px;
}

.jumbotron img {
    height: 250px;
    margin-bottom: 48px;
}

.jumbotron h1 {
    font-size: 3.7em;
}

.jumbotron p {
    margin-bottom: 0;
}

/* main */

/* portfolio */

#portfolio .row {
    padding-left: 15px;
    padding-right: 15px;
}

#portfolio .card {
    position: relative;
    border-radius: 10px;
    margin-bottom: 50px;
    overflow: hidden;
    cursor: pointer;
}

#portfolio .col-xs-12:last-of-type > .card {
    margin-bottom: 0;
}

#portfolio .card > .card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.9);
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

#portfolio .card > .card-overlay:hover {
    opacity: 1;
}

#portfolio .card > .card-overlay > i.fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 6em;
}

#portfolio .card > img {
    width: 100%;
}

/* about */

#about button {
    font-size: 1.55em;
    color: #fff;
    background: none;
    border: 2px solid #fff;
}

#about button > i.fa-download {
    padding-right: 5px;
}

/* contact */

#contact input[type="text"], #contact textarea {
    width: 100%;
    font-size: 2em;
    margin: 20px 0;
    border: none;
}

#contact textarea {
    resize: vertical; min-height: 200px;
}

#contact input[type="text"]:focus, #contact textarea:focus {
    outline: none;
}

#contact .small-line {
    width: 100%;
    height: 1px;
    background: #E9ECEF;
    margin: 10px 0;
}

#contact button {
    font-size: 1.55em;
    color: #fff;
    background: #1ABC9C;
    border: 2px solid #1ABC9C;
}

#contact button:hover {
    background: #159a80;
    border: 2px solid #148f77;
}

/* footer */

footer > .container-fluid {
    padding: 80px 0;
}

footer address {
    width: 65%;
    font-size: 1.5em;
    margin: 30px auto;
}

#pie {
    background: #1A252F;
    padding: 28px 0;
}

#pie p {
    font-size: 1.2em;
    margin-bottom: 0;
}

/* common */

.navbar, footer > .container-fluid {
    background: #2C3E50;
}

.jumbotron, #about {
    background-color: #1ABC9C;
}

#portfolio, .container-fluid {
    padding: 96px 0 96px 0;
}

#portfolio h1, #about h1, #contact h1 {
    font-size: 3em;
}

#portfolio h1, #contact h1, #contact {
    color: #2C3E50;
}

#portfolio .line, #contact .line {
    background-color: #2C3E50;
}

#portfolio i.fa-star, #contact i.fa-star {
    color: #2C3E50;
}

#about button:hover, .circle:hover {
    color: #000;
    background: #fff;
}

/* tablet */

@media all and (min-width: 768px) {

    /* header */

    /* nav */

    a.navbar-brand {
        margin-top: 0;
    }

    /* main */

    /* portfolio */

    #portfolio .col-xs-12:nth-last-of-type(2) > .card {
        margin-bottom: 0;
    }
}

/* medium screen */

@media all and (min-width: 992px) {

    body {
        font-size: 16px;
    }

    p {
        font-size: 1.2em;
    }

    h3  {
        font-size: 1.55em;
    }

    .circle {
        font-size: 1em;
    }

    /* header */

    /* nav */

    .navbar > .container {
        padding: 27px 30px;
    }

    a.navbar-brand {
        margin-top: 0;
    }

    /* jumbotron */

    .jumbotron > .container {
        padding: 110px 37px 0 37px;
    }

    .jumbotron h1 {
        font-size: 3.9em;
    }

    .jumbotron p {
        font-size: 1.55em;
    }

    /* main */

    /* portfolio */

    #portfolio .col-xs-12:nth-last-of-type(3) > .card {
        margin-bottom: 0;
    }

    /* about */

    #about button {
        font-size: 1.21em;
        padding: 16px 28px;
        margin-top: 30px;
    }

    /* contact */

    #contact input[type="text"], #contact textarea {
        font-size: 1.4em;
    }

    /* footer */

    #pie p {
        font-size: .8em;
    }

    /* common */

    i.fa-star {
        font-size: 2em;
    }

    footer address, #contact button {
        font-size: 1.1em;
    }
}